<section class="brands-section">
    <div class="brands-section__container content-container">
        <div class="brands-section__title">бренды</div>
        <div id="brandsSlider" class="brands-section__slider">
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/protherm.webp" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/stout.webp" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/grundfos.webp" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/rehau.webp" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/vaillant.webp" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/valfex.webp" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/buderus.webp" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/proaqua.webp" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/baxi.webp" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/danfoss.webp" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/viessmann.webp" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/sinikon.webp" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/valtec.webp" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/ariston.webp" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/djileks.webp" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/tilit.webp" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/kermi.webp" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/rommer.webp" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/bosch.webp" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/belamos.webp" alt="">
            </div>
        </div>
        <div class="brands-section__dots"></div>
    </div>
</section>