<section class="brands-section">
    <div class="brands-section__container content-container">
        <div class="brands-section__title">бренды</div>
        <div id="brandsSlider" class="brands-section__slider">
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/1.jpg" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/2.jpg" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/3.jpg" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/4.jpg" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/5.jpg" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/6.jpg" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/7.webp" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/8.jpg" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/9.png" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/10.jpg" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/11.jpg" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/12.png" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/13.jpg" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/14.png" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/15.jpg" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/16.webp" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/17.jpg" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/18.png" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/19.jpg" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/20.webp" alt="">
            </div>
        </div>
        <div class="brands-section__dots"></div>
    </div>
</section>