<section class="brands-section">
    <div class="brands-section__container content-container">
        <div class="brands-section__title">бренды</div>
        <div id="brandsSlider" class="brands-section__slider">
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/1.jpg" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/2.jpg" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/3.jpg" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/4.jpg" alt="">
            </div>
            <div class="brands-section__item">
                <img class="brands-section__img" src="./img/brands/5.jpg" alt="">
            </div>
        </div>
        <div class="brands-section__dots"></div>
    </div>
</section>