<section id="contSec" class="contacts">
    <div class="contacts__container content-container">
        <div class="contacts__title">Наши контакты</div>
        <div class="contacts__descr">
            <a class="contacts__logo" href="/">
                <img class="contacts__img" src="./img/logo2.png">
                <!-- <div class="contacts__logo-descr">
                    <div class="contacts__logo-descr-title">Теплодел</div>
                    <div class="contacts__logo-descr-subtitle">отопление•водоснабжение•канализация</div>
                </div> -->
            </a>
            <div class="contacts__adress">г. Ижевск, Буммашевская 7/10, комната #7, 2 этаж</div>
            <div class="contacts__time">
                <div class="contacts__time-item">Пн-Пт: 09:00 - 19:00</div>
                <div class="contacts__time-item">Сб: 09:00-15:00, Вс: выходной</div>
            </div>
            <a class="contacts__link" href="tel:+7 (3412) 56 23 31">тел. 56 23 31</a>
            <a class="contacts__link" href="mailto:manager@teplodel18.ru">manager@teplodel18.ru</a>
        </div>
        <div class="contacts__map"></div>
    </div>
</section>