<section id="contSec" class="contacts">
    <div class="contacts__container content-container">
        <div class="contacts__title">Наши контакты</div>
        <div class="contacts__descr">
            <a class="contacts__logo" href="/">
                <img class="contacts__img" src="./img/logo.png">
                <div class="contacts__logo-descr">
                    <div class="contacts__logo-descr-title">Теплодел</div>
                    <div class="contacts__logo-descr-subtitle">отопление•водоснабжение•канализация</div>
                </div>
            </a>
            <div class="contacts__adress">г. Ижевск, Ижевская 154 корп. 5</div>
            <div class="contacts__time">
                <div class="contacts__time-item">Пн-Пт: 09:00 - 19:00</div>
                <div class="contacts__time-item">Сб: 09:00-15:00, Вс: выходной</div>
            </div>
            <a class="contacts__link" href="tel:8 (909) 066-04-10">8 (909) 066-04-10</a>
            <a class="contacts__link" href="mailto:login@gmail.com">login@gmail.com</a>
        </div>
        <div class="contacts__map"></div>
    </div>
</section>