<header class="header">
    <div class="header__container">
        <div class="logo">
            <a class="logo__url" href="/">
                <img class="logo__img" src="./img/logo.png" alt="logo">
                теплодел
            </a>
            <p class="logo__descr">
                Отопление водоснабжение канализация<br/>Комплектация и монтаж под ключ
            </p>
        </div>
        <div class="nav">
            <nav class="nav__block">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link" href="#">Услуги</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Преимущества</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Оборудование и материалы</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="tel">
            <div class="tel__phone">
                <a class="tel__link" href="tel:8(909)0660410">8 (909) 066-04-10</a>
            </div>
            <div class="tel__callback waves">
                <div class="tel__icon">
                    <svg class="tel__svg" viewBox="0 0 15 15">
                        <path d="M14.7915 12.4732L12.6766 14.571C12.3644 14.8912 11.9507 14.9996 11.5477 15.0001C9.76553 14.9467 8.08101 14.0713 6.69791 13.1724C4.42763 11.5208 2.34456 9.47289 1.03718 6.99804C0.535755 5.96025 -0.0525948 4.63611 0.00361768 3.47775C0.00863018 3.042 0.126055 2.61434 0.432943 2.33346L2.54777 0.219698C2.98692 -0.153839 3.41161 -0.0246894 3.69263 0.410411L5.39402 3.63669C5.57309 4.0189 5.47037 4.42842 5.20319 4.70154L4.42404 5.48029C4.37594 5.54617 4.34532 5.62117 4.34454 5.7028C4.64332 6.85932 5.54846 7.92529 6.34806 8.65887C7.14764 9.39247 8.00712 10.3863 9.12277 10.6216C9.26067 10.6601 9.42958 10.6736 9.52824 10.5819L10.4346 9.66011C10.7471 9.4233 11.1982 9.30755 11.5318 9.50119H11.5477L14.6165 11.313C15.067 11.5954 15.114 12.1411 14.7915 12.4732Z"></path>
                    </svg>
                </div>
                <div class="waves__circle waves__circle_m"></div>
                <div class="waves__circle waves__circle_s"></div>
            </div>
        </div>
    </div>
</header>