<section id="insSec" class="instmat-section">
    <div class="instmat-section__container content-container">
        <div class="instmat-section__title">Оборудование и материалы</div>
        <div class="instmat-section__content">
            <div class="instmat-section__item">
                <div class="instmat-section__block-img">
                    <img class="instmat-section__img" src="./img/inst_and_mater/heat-floor.jpg">
                </div>
                <div class="instmat-section__name">Тёплый пол</div>
            </div>
            <div class="instmat-section__item">
                <div class="instmat-section__block-img">

                    <img class="instmat-section__img" src="./img/inst_and_mater/sys-heat.jpg">
                </div>
                <div class="instmat-section__name">Система отопления</div>
            </div>
            <div class="instmat-section__item">
                <div class="instmat-section__block-img">
                    <img class="instmat-section__img" src="./img/inst_and_mater/sys-water.jpg">
                </div>
                <div class="instmat-section__name">Система водоснабжения</div>
            </div>
            <div class="instmat-section__item">
                <div class="instmat-section__block-img">
                    <img class="instmat-section__img" src="./img/inst_and_mater/toilet.jpg">
                </div>
                <div class="instmat-section__name">Канализация</div>
            </div>
            <div class="instmat-section__item">
                <div class="instmat-section__block-img">
                    <img class="instmat-section__img" src="./img/inst_and_mater/heat-eq.jpg">
                </div>
                <div class="instmat-section__name">Котельное оборудование</div>
            </div>
            <div class="instmat-section__item">
                <div class="instmat-section__block-img">
                    <img class="instmat-section__img" src="./img/inst_and_mater/water-eq.jpg">
                </div>
                <div class="instmat-section__name">Насосное оборудование</div>
            </div>
        </div>
        <div class="waves instmat-section__button-block">
            <div class="instmat-section__button">
                <span>бесплатный замер</span>
            </div>
            <div class="waves__circle waves__circle_m"></div>
            <div class="waves__circle waves__circle_s"></div>
        </div>
    </div>
</section>