<section class="modal" style="display:none;">
    <div class="modal__bg"></div>
    <div class="modal__content">
        <form class="modal__form" action="#">
            <div class="modal__title">Узнать стоимость</div>
            <div class="modal__field">
                <input class="modal__field-info" name="name" type="text" placeholder="Имя *" required>
            </div>
            <div class="modal__field">
                <input class="modal__field-info" name="email" type="email" placeholder="E-mail *" required>
            </div>
            <div class="modal__field">
                <input class="modal__field-info" name="tel" type="tel" placeholder="Номер телефона *" required>
            </div>
            <div class="modal__field">
                <input class="modal__field-policy" type="checkbox" required>
                <div class="modal__policy">Я даю свое соглаcие на обработку <a class="modal__link" href="#">персональных данных</a></div>
            </div>
            <input class="modal__submit" type="submit" value="Узнать">
        </form>
        <div class="modal__close"></div>
    </div>
</section>