<section class="top-section">
    <div class="top-section__container content-container">
        <h1 id="mainTitle" class="top-section__title">
            Проектирование, монтаж и запуск отопления <span>с гарантией 2 года</span>
        </h1>
        <h3 class="top-section__descr">
            Наша цена <span>выгоднее на 10%</span>, чем в обычных магазинах
        </h3>
        <div class="waves">
            <div class="top-section__button">
                <span>Узнать стоимость</span>
            </div>
            <!-- <div class="waves__circle waves__circle_m"></div>
            <div class="waves__circle waves__circle_s"></div> -->
        </div>
    </div>
</section>