<section class="why-section">
    <div class="why-section__container content-container">
        <div class="why-section__title">Почему с нами удобно и выгодно сотрудничать?</div>
        <div class="why-section__descr">
            <div class="why-section__negative">
                <div class="why-section__subtitle">Что делают другие:</div>
                <div class="why-section__item reason">
                    <div class="reason__title">НИЗКАЯ СМЕТА С БОЛЬШИМ ЧИСЛОМ ДОПОВ</div>
                    <div class="reason__descr">На начальном этапе все выглядит дешево, по окончанию проекта смета увеличивается на 30-100%</div>
                </div>
                <div class="why-section__item reason">
                    <div class="reason__title">МИНИМАЛЬНАЯ ГАРАНТИЯ</div>
                    <div class="reason__descr">Формальная гарантия лишь бы привлечь клиента. Фактически после получения всех денег найти и привлечь к ответственности подрядчиков крайне сложно</div>
                </div>
                <div class="why-section__item reason">
                    <div class="reason__title">НЕТ ИНЖЕНЕРОВ</div>
                    <div class="reason__descr">Продавцы и монтажники исполняют функции инженеров. Отсутствует должный уровень знаний, опыта, современных технических решений. Решения не эффективны по стоимости и целесообразности, стоимость эксплуатации высокая</div>
                </div>
                <div class="why-section__item reason">
                    <div class="reason__title">СРОКИ КАК ДУША ЛЯЖЕТ</div>
                    <div class="reason__descr">Часто нет четких сроков, ответственности, договора и возможности привлечь подрядчика к ответственности</div>
                </div>
                <div class="why-section__item reason">
                    <div class="reason__title">ДЕЛАЮТ ЧТО-ТО ОДНО</div>
                    <div class="reason__descr">Работая с большим числом подрядчиков по каждому из разделов Вы получите ситуацию, когда все сделано, но не работает как надо. Спросить не с кого, каждый сделал свой раздел, а то, что надо учесть задачи из смежного раздела и реализовать это – не их проблема</div>
                </div>
                <div class="why-section__item reason">
                    <div class="reason__title">ЛИШЬ БЫ СДАТЬ</div>
                    <div class="reason__descr">Фактически отсутствует какая бы то ни была исполнительная документация. Получить бы деньги и трава не расти</div>
                </div>
                <div class="why-section__item reason">
                    <div class="reason__title">РАБОТАЮТ НА ГЛАЗОК</div>
                    <div class="reason__descr">Часто сталкиваемся с тем, что “коллеги”, у которых нет своего инженерного штата убеждают клиентов в том, что проектирование не нужно, они все сделают и так бесплатно. В итоге переплата или не рабочая система коммуникаций</div>
                </div>
            </div>
            <div class="why-section__positive">
                <div class="why-section__subtitle">Что делают другие:</div>
                <div class="why-section__item reason">
                    <div class="reason__title">ОТСУТСТВИЕ СКРЫТЫХ ПЛАТЕЖЕЙ</div>
                    <div class="reason__descr">Работы выполняются без необходимости доплачивать</div>
                </div>
                <div class="why-section__item reason">
                    <div class="reason__title">ГАРАНТИЯ 2 ГОДА</div>
                    <div class="reason__descr">Мы даем реальную гарантию на выполненные работы 2 года. Мы реально отвечаем за свою работу, и наши клиенты знаю это не понаслышке, мы всегда рядом</div>
                </div>
                <div class="why-section__item reason">
                    <div class="reason__title">ВЫСОКИЙ ИНЖЕНЕРНЫЙ УРОВЕНЬ</div>
                    <div class="reason__descr">Свой инженерный персонал с высоким уровнем знаний, опыта и постоянно проходящий обучение. Качественные и экономически выгодные решения для наших клиентов</div>
                </div>
                <div class="why-section__item reason">
                    <div class="reason__title">ФИКСИРОВАННЫЕ СРОКИ МОНТАЖА</div>
                    <div class="reason__descr">Мы фиксируем сроки в договоре. Делаем всегда по согласованным срокам</div>
                </div>
                <div class="why-section__item reason">
                    <div class="reason__title">КОМПЛЕКСНЫЙ ПОДХОД ПО ВСЕМ РАЗДЕЛАМ ИЗ ОДНИХ РУК</div>
                    <div class="reason__descr">Собственный инженерный штат позволяет выполнять полный комплекс работ от проектирования до монтажа по всем разделам инженерных коммуникаций. Мы отвечаем за все, все учитываем и сдаем Вам качественную инженерную систему</div>
                </div>
                <div class="why-section__item reason">
                    <div class="reason__title">ИСПОЛНИТЕЛЬНАЯ СХЕМА</div>
                    <div class="reason__descr">При проектировании и монтаже у нас Вы получаете исполнительную схему по факту выполненных работ. Вам не придется гадать где что проложено</div>
                </div>
                <div class="why-section__item reason">
                    <div class="reason__title">ПРОФЕССИОНАЛЬНОЕ ПРОЕКТИРОВАНИЕ</div>
                    <div class="reason__descr">Проектируем все разделы, добросовестно подходим к своей работе. В итоге у Вас сметы без переплат, надежные инженерные коммуникации и довольная улыбка</div>
                </div>
            </div>
        </div>
    </div>
</section>