<section class="works">
    <div class="works__container content-container">
        <div class="works__title">Наши работы</div>
        <div id="worksSlider" class="works__slider">
            <div class="works__slide">
                <div class="works__img-block">
                    <img class="works__img " src="./img/works/Биатлон. Частный дом 300м2.jpg" alt="">
                </div>
                <div class="works__slide-name">Биатлон. Частный дом 300м2</div>
            </div>
            <div class="works__slide">
                <div class="works__img-block">
                    <img class="works__img " src="./img/works/Мкр. Завьялово Частный дом 150м2.jpg" alt="">
                </div>
                <div class="works__slide-name">Мкр. Завьялово Частный дом 150м2</div>
            </div>
            <div class="works__slide">
                <div class="works__img-block">
                    <img class="works__img " src="./img/works/Новое Завьялово. Частный дом 250м2.jpg" alt="">
                </div>
                <div class="works__slide-name">Новое Завьялово. Частный дом 250м2</div>
            </div>
            <div class="works__slide">
                <div class="works__img-block">
                    <img class="works__img " src="./img/works/Орловское. Частный дом 150м2.jpg" alt="">
                </div>
                <div class="works__slide-name">Орловское. Частный дом 150м2</div>
            </div>
            <div class="works__slide">
                <div class="works__img-block">
                    <img class="works__img " src="./img/works/Старомихайловское. Частный дом 200м2.jpg" alt="">
                </div>
                <div class="works__slide-name">Старомихайловское. Частный дом 200м2</div>
            </div>
        </div>
        <div class="works-slider-dots"></div>
    </div>
</section>