<section class="works">
    <div class="works__container content-container">
        <div class="works__title">Наши работы</div>
        <div id="worksSlider" class="works__slider">
            <div class="works__slide">
                <div class="works__img-block">
                    <img src="./img/works/1.jpg" alt="">
                </div>
                <div class="works__slide-name">Название в 2 слова</div>
            </div>
            <div class="works__slide">
                <div class="works__img-block">
                    <img src="./img/works/3.jpg" alt="">
                </div>
                <div class="works__slide-name">Название в 2 слова</div>
            </div>
            <div class="works__slide">
                <div class="works__img-block">
                    <img src="./img/works/2.jpg" alt="">
                </div>
                <div class="works__slide-name">Название в 2 слова</div>
            </div>
            <div class="works__slide">
                <div class="works__img-block">
                    <img src="./img/works/1.jpg" alt="">
                </div>
                <div class="works__slide-name">Название в 3 слова</div>
            </div>
        </div>
        <div class="works-slider-dots"></div>
    </div>
</section>