@color-black: #000000;
@color-white: #ffffff;
@color-tundora: #434242;
@color-burning-orange: #E84D22;
@color-rich-electric-blue: #008DD2;
@color-vermilion:  #DD2B1C;

@-webkit-keyframes fadeOut {
    0% {
        opacity: 0
    }

    25% {
        opacity: .5
    }

    50% {
        opacity: 1
    }

    75% {
        opacity: .5
    }

    100% {
        opacity: 0
    }
}